.transplants {
  &__item {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__placeholder {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #A0B0B9;
  }

  &__info {
    font-size: 14px;
    color: #4A4A4A;
    font-weight: 600;
  }
}
