.tab-tickets {
  background: var(--white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgb(223, 229, 236);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);

  &__name {
    cursor: pointer;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    transition: .2s;
  }

  &__input {
    display: none;

    &:checked + .tab-tickets__name {
      background: var(--primary);
      color: var(--white);
    }
  }
}
